.rounded-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .rounded-button.blue {
    background-color: #23577A;
  }
  
  .rounded-button.blue:hover {
    background-color: #3e6c8a;
  }

  .rounded-button.darkblue {
    background-color: #155191;
  }
  
  .rounded-button.darkblue:hover {
    background-color: #38699d;
  }
  
  .rounded-button.red {
    background-color: #dc3545;
  }
  
  .rounded-button.red:hover {
    background-color: #af202e;
  }
  
  .rounded-button.green {
    background-color: #28a745;
  }
  
  .rounded-button.green:hover {
    background-color: #218838;
  }

  .rounded-button.yellow {
    background-color: #d6c103;
  }
  
  .rounded-button.yellow:hover {
    background-color: #a99a17;
  }
  